In [5]:

#Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.
#Troba quantes dades faltants hi ha per columna.
#Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
#Fes una taula de les aerolínies amb més endarreriments acumulats.
#Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.
#Aporta allò que consideris rellevant.

import numpy as np
import pandas as pd

na_values = ['NaN','0.0']
flights= pd.read_csv("DelayedFlights.csv")

df2 = pd.DataFrame(flights)
df1 = df2.sample(n = 200000, random_state =1)
df1.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1750755,6516830,2008,12,19,5,1332.0,1320,1436.0,1430,WN,...,7.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1074983,3577214,2008,6,17,2,1731.0,1720,2013.0,1955,CO,...,8.0,18.0,0,N,0,11.0,0.0,7.0,0.0,0.0
46126,148177,2008,1,27,7,735.0,645,918.0,815,YV,...,4.0,45.0,0,N,0,63.0,0.0,0.0,0.0,0.0
327441,1035260,2008,2,13,3,1333.0,1230,1515.0,1438,9E,...,7.0,15.0,0,N,0,0.0,0.0,0.0,0.0,37.0
1363177,4599044,2008,8,12,2,1359.0,1346,1517.0,1447,FL,...,5.0,15.0,0,N,0,13.0,0.0,17.0,0.0,0.0

In [6]:
np.shape(df1)

(200000, 30)

In [7]:
#Troba quantes dades faltants hi ha per columna.

df1.isnull().sum(axis=0)

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                792
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  1
ActualElapsedTime      920
CRSElapsedTime          18
AirTime                920
ArrDelay               920
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 792
TaxiOut                 58
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         71210
WeatherDelay         71210
NASDelay             71210
SecurityDelay        71210
LateAircraftDelay    71210
dtype: int64

In [8]:
# Muchos Arrtime nulos...?

In [9]:
x = df1["ArrTime"].median()
y = df1["ActualElapsedTime"].median()
z = df1["CRSElapsedTime"].median()
xx= df1["AirTime"].median()
yy= df1["ArrDelay"].median()



df1["ArrTime"].fillna(x, inplace = True)
df1["ActualElapsedTime"].fillna(y, inplace = True)
df1["CRSElapsedTime"].fillna(z, inplace = True)
df1["AirTime"].fillna(xx, inplace = True)
df1["ArrDelay"].fillna(yy, inplace = True)
df1["CarrierDelay"].fillna(0, inplace = True)


df1.isnull().sum(axis=0)

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                  0
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  1
ActualElapsedTime        0
CRSElapsedTime           0
AirTime                  0
ArrDelay                 0
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 792
TaxiOut                 58
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay             0
WeatherDelay         71210
NASDelay             71210
SecurityDelay        71210
LateAircraftDelay    71210
dtype: int64

In [10]:
df1["NASDelay"].fillna(0, inplace = True)
df1["SecurityDelay"].fillna(0, inplace = True)
df1["LateAircraftDelay"].fillna(0, inplace = True)
#df1["WeatherDelay"].fillna(0, inplace = True)



df1.isnull().sum(axis=0)

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                  0
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  1
ActualElapsedTime        0
CRSElapsedTime           0
AirTime                  0
ArrDelay                 0
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 792
TaxiOut                 58
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay             0
WeatherDelay         71210
NASDelay                 0
SecurityDelay            0
LateAircraftDelay        0
dtype: int64

In [333]:
df1.dropna(subset=['TailNum','TaxiOut','TaxiIn'], inplace = True)
df1.isnull().sum(axis=0)

Unnamed: 0           0
Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [11]:
np.shape(df1)

(200000, 30)

In [12]:
df3 = df1.drop(["DepTime","CRSDepTime", "Unnamed: 0","FlightNum","Year","Month","DayofMonth","DayOfWeek", "TailNum", "CancellationCode", "Cancelled", "Diverted"],axis = 'columns')


df3.drop_duplicates(inplace = True)

In [13]:
df3.isnull().sum(axis=0)
#df3.loc["AirTime"=='Nan']

ArrTime                  0
CRSArrTime               0
UniqueCarrier            0
ActualElapsedTime        0
CRSElapsedTime           0
AirTime                  0
ArrDelay                 0
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 792
TaxiOut                 58
CarrierDelay             0
WeatherDelay         71204
NASDelay                 0
SecurityDelay            0
LateAircraftDelay        0
dtype: int64

In [14]:
np.shape(df3)
df3.head()

,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1750755,1436.0,1430,WN,64.0,70.0,49.0,6.0,12.0,CLE,BWI,314,7.0,8.0,0.0,NaN,0.0,0.0,0.0
1074983,2013.0,1955,CO,342.0,335.0,316.0,18.0,11.0,EWR,LAS,2227,8.0,18.0,11.0,0.0,7.0,0.0,0.0
46126,918.0,815,YV,103.0,90.0,54.0,63.0,50.0,ORD,BNA,409,4.0,45.0,63.0,0.0,0.0,0.0,0.0
327441,1515.0,1438,9E,102.0,128.0,80.0,37.0,63.0,ORF,DTW,529,7.0,15.0,0.0,0.0,0.0,0.0,37.0
1363177,1517.0,1447,FL,198.0,181.0,178.0,30.0,13.0,ATL,DEN,1199,5.0,15.0,13.0,0.0,17.0,0.0,0.0

In [15]:
#  new DF with less columns
df3.describe()

,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,199994.000000,199994.000000,199994.000000,199994.000000,199994.000000,199994.000000,199994.000000,199994.000000,199202.000000,199936.000000,199994.000000,128790.000000,199994.000000,199994.000000,199994.000000
mean,1612.205251,1634.929093,133.201416,134.349010,108.190611,42.113598,43.242477,766.316319,6.824500,18.204040,12.370866,3.696871,9.695366,0.053262,16.244687
std,546.103672,463.904190,71.807793,71.332763,68.420232,56.668934,53.446851,574.887786,5.334509,14.318118,36.014401,21.240432,27.914959,1.496623,36.269918
min,1.000000,1.000000,17.000000,-21.000000,2.000000,-59.000000,6.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1319.000000,1325.000000,80.000000,82.000000,58.000000,9.000000,12.000000,338.000000,4.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1717.000000,1707.000000,116.000000,117.000000,90.000000,24.000000,24.000000,607.000000,6.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2030.000000,2014.000000,164.000000,165.000000,137.000000,55.000000,53.000000,998.000000,8.000000,21.000000,10.000000,0.000000,6.000000,0.000000,18.000000
max,2400.000000,2400.000000,790.000000,660.000000,733.000000,1951.000000,1952.000000,4962.000000,200.000000,335.000000,1951.000000,1070.000000,604.000000,229.000000,1316.000000

In [16]:
Suma_Valors = df3.sum( axis = 0 , skipna = True)
Suma_Valors

ArrTime                                                    322431377.0
CRSArrTime                                                   326976009
UniqueCarrier        WNCOYV9EFLMQWNOOMQWNUAUA9EUSNWUSDLOHWNXEASF9DL...
ActualElapsedTime                                           26639484.0
CRSElapsedTime                                              26868996.0
AirTime                                                     21637473.0
ArrDelay                                                     8422467.0
DepDelay                                                     8648236.0
Origin               CLEEWRORDORFATLSDFFLLDENLAXBNADENDENOKCPHLSEAB...
Dest                 BWILASBNADTWDENORDISPBZNFATDTWOAKDFWMEMBOSHNLL...
Distance                                                     153258666
TaxiIn                                                       1359454.0
TaxiOut                                                      3639643.0
CarrierDelay                                                 2474099.0
WeatherDelay                                                  476120.0
NASDelay                                                     1939015.0
SecurityDelay                                                  10652.0
LateAircraftDelay                                            3248840.0
dtype: object

In [17]:
Total_time  = df3['AirTime'].sum()


print("El temps total de vol es de " + str(Total_time)+ " minuts, és a dir "+(str(Total_time/60))+"hores")
      


    
Total_distance = df3['Distance'].sum()



Velocitatmitjana =  round(Total_distance/ (Total_time)*60, 2)
print("La Velocitat mitjana és de " + (str((Velocitatmitjana)))+ " M/Hora")

El temps total de vol es de 21637473.0 minuts, és a dir 360624.55hores
La Velocitat mitjana és de 424.98 M/Hora

In [18]:
# Noves Columnnes:

                  # velocitat-mitjana

Total_distance = round(df3["Distance"], 2)
Total_distance

Total_time = round(df3['AirTime'],2)
Total_time

df3["Velocitat_mitjana"] =round(Total_distance/Total_time, 2)

In [19]:
                # Retard ?
    
Total_delay = round(df3["ArrTime"] - df3["CRSArrTime"])
df3["Retard"] =round( Total_delay, 2)

In [20]:
np.shape(df3)

(199994, 20)

In [21]:
df3.head()

,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Velocitat_mitjana,Retard
1750755,1436.0,1430,WN,64.0,70.0,49.0,6.0,12.0,CLE,BWI,314,7.0,8.0,0.0,NaN,0.0,0.0,0.0,6.41,6.0
1074983,2013.0,1955,CO,342.0,335.0,316.0,18.0,11.0,EWR,LAS,2227,8.0,18.0,11.0,0.0,7.0,0.0,0.0,7.05,58.0
46126,918.0,815,YV,103.0,90.0,54.0,63.0,50.0,ORD,BNA,409,4.0,45.0,63.0,0.0,0.0,0.0,0.0,7.57,103.0
327441,1515.0,1438,9E,102.0,128.0,80.0,37.0,63.0,ORF,DTW,529,7.0,15.0,0.0,0.0,0.0,0.0,37.0,6.61,77.0
1363177,1517.0,1447,FL,198.0,181.0,178.0,30.0,13.0,ATL,DEN,1199,5.0,15.0,13.0,0.0,17.0,0.0,0.0,6.74,70.0

Fes una taula de les aerolínies amb més endarreriments acumulats.

In [22]:
#Idem pero con i.loc

new_df1 = df3.loc[:,['UniqueCarrier','Retard','Velocitat_mitjana']]

new_df1.head()

        UniqueCarrier  Retard  Velocitat_mitjana
1750755            WN     6.0               6.41
1074983            CO    58.0               7.05
46126              YV   103.0               7.57
327441             9E    77.0               6.61
1363177            FL    70.0               6.74

In [33]:
#UniqueCarrier_delays = new_df1.sort_values(by=['Retard'], ascending = False)
UniqueCarrier_delays = new_df1.groupby('UniqueCarrier')['Retard'].sum().sort_values(ascending = True)
UniqueCarrier_delays
#UniqueCarrier_delays_sorted = UniqueCarrier_delays.sort_values(by ='Retard', ascending = False)
#UniqueCarrier_delays_sorted

UniqueCarrier
AA   -966445.0
WN   -831765.0
B6   -702203.0
CO   -678133.0
UA   -598838.0
US   -400837.0
DL   -305522.0
F9   -247039.0
FL   -240870.0
NW   -182217.0
XE    -81420.0
YV    -47258.0
HA    -41964.0
AS    -34461.0
AQ     -2220.0
OH     32516.0
OO     33184.0
9E     49427.0
EV    276822.0
MQ    424611.0
Name: Retard, dtype: float64

In [24]:
#Quins són els vols més llargs?  Busca les rutes més llargues i les que acumulen més retards.

Milles_Vol_més_llarg = df3['Distance'].max()


nº_Vol_més_llarg2  = df3['Distance'].idxmax()


print(str(Milles_Vol_més_llarg) + " Milles")
print("El vol més llarg és el nº : "+ str(nº_Vol_més_llarg2))



#Vol_més_llarg3 = df3.where[(df3.id) == 1068823]



#Vol_més_llarg = df3.iloc[['Distance'].idxmax(),('Origin')]

4962 Milles
El vol més llarg és el nº : 1068823

In [30]:
# Rutes més llargues 

Origin = df3.groupby('Origin') # Agrupo df por Origen


Rutes_més_llargues = Origin[('Distance')]
Rutes_més_llargues.max().sort_values(ascending = False)

Origin
EWR    4962
HNL    4962
ATL    4502
ORD    4243
KOA    4213
       ...
WRG      82
BPT      79
MCN      79
OXR      49
GST      41
Name: Distance, Length: 296, dtype: int64

In [27]:
# Rutes amb més retard

Rutes_més_retard = Origin[('CRSElapsedTime')]
Rutes_més_retard.max().sort_values(ascending = False)

Origin
EWR    660.0
ATL    604.0
HNL    565.0
ORD    560.0
MSP    523.0
       ...
OXR     44.0
PSG     44.0
MKG     40.0
WRG     39.0
GST     31.0
Name: CRSElapsedTime, Length: 296, dtype: float64

In [31]:
#I els més endarrerits?

Origin = df3.groupby('Origin') 
Vol_més_endarrerit = Origin[('CRSElapsedTime')]
Vol_més_endarrerit.max().sort_values(ascending = False)

Origin
EWR    660.0
ATL    604.0
HNL    565.0
ORD    560.0
MSP    523.0
       ...
OXR     44.0
PSG     44.0
MKG     40.0
WRG     39.0
GST     31.0
Name: CRSElapsedTime, Length: 296, dtype: float64

Exporta el dataset net i amb les noves columnes a Excel.

In [488]:
df3.to_excel("df3.xlsx")