In [284]:

#Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.
#Troba quantes dades faltants hi ha per columna.
#Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
#Fes una taula de les aerolínies amb més endarreriments acumulats.
#Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.
#Aporta allò que consideris rellevant.


import pandas as pd

na_values = ['NaN','0.0']
flights= pd.read_csv("DelayedFlights.csv")

df2 = pd.DataFrame(flights)
df1 = df2.sample(n = 200000, random_state =1)
df1.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1750755,6516830,2008,12,19,5,1332.0,1320,1436.0,1430,WN,...,7.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1074983,3577214,2008,6,17,2,1731.0,1720,2013.0,1955,CO,...,8.0,18.0,0,N,0,11.0,0.0,7.0,0.0,0.0
46126,148177,2008,1,27,7,735.0,645,918.0,815,YV,...,4.0,45.0,0,N,0,63.0,0.0,0.0,0.0,0.0
327441,1035260,2008,2,13,3,1333.0,1230,1515.0,1438,9E,...,7.0,15.0,0,N,0,0.0,0.0,0.0,0.0,37.0
1363177,4599044,2008,8,12,2,1359.0,1346,1517.0,1447,FL,...,5.0,15.0,0,N,0,13.0,0.0,17.0,0.0,0.0

In [285]:
np.shape(df1)

(200000, 30)

In [286]:
#Troba quantes dades faltants hi ha per columna.

df1.isnull().sum(axis=0)

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                792
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  1
ActualElapsedTime      920
CRSElapsedTime          18
AirTime                920
ArrDelay               920
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 792
TaxiOut                 58
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         71210
WeatherDelay         71210
NASDelay             71210
SecurityDelay        71210
LateAircraftDelay    71210
dtype: int64

In [ ]:
# Muchos Arrtime nulos...?

In [297]:
x = df1["ArrTime"].median()
y = df1["ActualElapsedTime"].median()
z = df1["CRSElapsedTime"].median()
xx= df1["AirTime"].median()
yy= df1["ArrDelay"].median()



df1["ArrTime"].fillna(x, inplace = True)
df1["ActualElapsedTime"].fillna(y, inplace = True)
df1["CRSElapsedTime"].fillna(z, inplace = True)
df1["AirTime"].fillna(xx, inplace = True)
df1["ArrDelay"].fillna(yy, inplace = True)
df1["CarrierDelay"].fillna(0, inplace = True)


df1.isnull().sum(axis=0)

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                  0
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime        0
CRSElapsedTime           0
AirTime                  0
ArrDelay                 0
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 792
TaxiOut                 58
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay             0
WeatherDelay         71210
NASDelay             71210
SecurityDelay        71210
LateAircraftDelay    71210
dtype: int64

In [301]:
df1["NASDelay"].fillna(0, inplace = True)
df1["SecurityDelay"].fillna(0, inplace = True)
df1["LateAircraftDelay"].fillna(0, inplace = True)
#df1["WeatherDelay"].fillna(0, inplace = True)



df1.isnull().sum(axis=0)

Unnamed: 0             0
Year                   0
Month                  0
DayofMonth             0
DayOfWeek              0
DepTime                0
CRSDepTime             0
ArrTime                0
CRSArrTime             0
UniqueCarrier          0
FlightNum              0
TailNum                0
ActualElapsedTime      0
CRSElapsedTime         0
AirTime                0
ArrDelay               0
DepDelay               0
Origin                 0
Dest                   0
Distance               0
TaxiIn               792
TaxiOut               58
Cancelled              0
CancellationCode       0
Diverted               0
CarrierDelay           0
WeatherDelay           0
NASDelay               0
SecurityDelay          0
LateAircraftDelay      0
dtype: int64

In [333]:
df1.dropna(subset=['TailNum','TaxiOut','TaxiIn'], inplace = True)
df1.isnull().sum(axis=0)

Unnamed: 0           0
Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [332]:
np.shape(df1)

(199207, 30)

In [334]:
df3 = df1.drop(["DepTime","CRSDepTime", "Unnamed: 0","FlightNum","Year","Month","DayofMonth","DayOfWeek", "TailNum", "CancellationCode", "Cancelled", "Diverted"],axis = 'columns')


df3.drop_duplicates(inplace = True)

In [335]:
df3.isnull().sum(axis=0)
#df3.loc["AirTime"=='Nan']

ArrTime              0
CRSArrTime           0
UniqueCarrier        0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [338]:
np.shape(df3)
df3.head()

,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1750755,1436.0,1430,WN,64.0,70.0,49.0,6.0,12.0,CLE,BWI,314,7.0,8.0,0.0,0.0,0.0,0.0,0.0
1074983,2013.0,1955,CO,342.0,335.0,316.0,18.0,11.0,EWR,LAS,2227,8.0,18.0,11.0,0.0,7.0,0.0,0.0
46126,918.0,815,YV,103.0,90.0,54.0,63.0,50.0,ORD,BNA,409,4.0,45.0,63.0,0.0,0.0,0.0,0.0
327441,1515.0,1438,9E,102.0,128.0,80.0,37.0,63.0,ORF,DTW,529,7.0,15.0,0.0,0.0,0.0,0.0,37.0
1363177,1517.0,1447,FL,198.0,181.0,178.0,30.0,13.0,ATL,DEN,1199,5.0,15.0,13.0,0.0,17.0,0.0,0.0

In [339]:
#  new DF with less columns
df3.describe()

,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,199201.000000,199201.000000,199201.000000,199201.000000,199201.000000,199201.000000,199201.000000,199201.000000,199201.000000,199201.000000,199201.000000,199201.000000,199201.000000,199201.000000,199201.000000
mean,1611.787054,1634.841130,133.269873,134.258799,108.263116,42.226766,43.148689,765.689429,6.824494,18.186746,12.420113,2.388763,9.733877,0.053474,16.309356
std,547.149098,463.907727,71.942367,71.246637,68.546603,56.778356,53.304839,574.409237,5.334522,14.285756,36.077540,17.159075,27.963755,1.499596,36.327527
min,1.000000,1.000000,17.000000,-21.000000,2.000000,-59.000000,6.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1317.000000,1325.000000,80.000000,82.000000,58.000000,9.000000,12.000000,338.000000,4.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1717.000000,1707.000000,116.000000,116.000000,90.000000,24.000000,24.000000,606.000000,6.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2031.000000,2014.000000,165.000000,165.000000,137.000000,56.000000,53.000000,998.000000,8.000000,21.000000,10.000000,0.000000,6.000000,0.000000,18.000000
max,2400.000000,2359.000000,790.000000,660.000000,733.000000,1951.000000,1952.000000,4962.000000,200.000000,335.000000,1951.000000,1070.000000,604.000000,229.000000,1316.000000

In [340]:
Suma_Valors = df3.sum( axis = 0 , skipna = True)
Suma_Valors

ArrTime                                                    321069593.0
CRSArrTime                                                   325661988
UniqueCarrier        WNCOYV9EFLMQWNOOMQWNUAUA9EUSNWUSDLOHWNXEASF9DL...
ActualElapsedTime                                           26547492.0
CRSElapsedTime                                              26744487.0
AirTime                                                     21566121.0
ArrDelay                                                     8411614.0
DepDelay                                                     8595262.0
Origin               CLEEWRORDORFATLSDFFLLDENLAXBNADENDENOKCPHLSEAB...
Dest                 BWILASBNADTWDENORDISPBZNFATDTWOAKDFWMEMBOSHNLL...
Distance                                                     152526100
TaxiIn                                                       1359446.0
TaxiOut                                                      3622818.0
CarrierDelay                                                 2474099.0
WeatherDelay                                                  475844.0
NASDelay                                                     1938998.0
SecurityDelay                                                  10652.0
LateAircraftDelay                                            3248840.0
dtype: object

In [341]:
Total_time  = df3['AirTime'].sum()


print("El temps total de vol es de " + str(Total_time)+ " minuts, és a dir "+(str(Total_time/60))+"hores")
      


    
Total_distance = df3['Distance'].sum()



Velocitatmitjana =  round(Total_distance/ (Total_time)*60, 2)
print("La Velocitat mitjana és de " + (str((Velocitatmitjana)))+ " M/Hora")

El temps total de vol es de 21566121.0 minuts, és a dir 359435.35hores
La Velocitat mitjana és de 424.35 M/Hora

In [365]:
# Noves Columnnes:

                  # velocitat-mitjana

Total_distance = round(df3["Distance"], 2)
Total_distance

Total_time = round(df3['AirTime'],2)
Total_time

df3["Velocitat_mitjana"] =round(Total_distance/Total_time, 2)

In [366]:
                # Retard ?
    
Total_delay = round(df3["ArrTime"] - df3["CRSArrTime"])
df3["Retard"] =round( Total_delay, 2)

In [345]:
np.shape(df3)

(199201, 20)

In [316]:
df3.head()

,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Velocidat_mitjana,Retard
1750755,1436.0,1430,WN,64.0,70.0,49.0,6.0,12.0,CLE,BWI,314,7.0,8.0,0.0,0.0,0.0,0.0,0.0,6.41,6.0
1074983,2013.0,1955,CO,342.0,335.0,316.0,18.0,11.0,EWR,LAS,2227,8.0,18.0,11.0,0.0,7.0,0.0,0.0,7.05,58.0
46126,918.0,815,YV,103.0,90.0,54.0,63.0,50.0,ORD,BNA,409,4.0,45.0,63.0,0.0,0.0,0.0,0.0,7.57,103.0
327441,1515.0,1438,9E,102.0,128.0,80.0,37.0,63.0,ORF,DTW,529,7.0,15.0,0.0,0.0,0.0,0.0,37.0,6.61,77.0
1363177,1517.0,1447,FL,198.0,181.0,178.0,30.0,13.0,ATL,DEN,1199,5.0,15.0,13.0,0.0,17.0,0.0,0.0,6.74,70.0

Fes una taula de les aerolínies amb més endarreriments acumulats.

In [477]:
#Idem pero con i.loc

new_df1 = df3.loc[:,['UniqueCarrier','Retard','Velocitat_mitjana']]

new_df1.head()

        UniqueCarrier  Retard  Velocitat_mitjana
1750755            WN     6.0               6.41
1074983            CO    58.0               7.05
46126              YV   103.0               7.57
327441             9E    77.0               6.61
1363177            FL    70.0               6.74

In [471]:
#UniqueCarrier_delays = new_df1.sort_values(by=['Retard'], ascending = False)
UniqueCarrier_delays = new_df1.groupby('UniqueCarrier')['Retard'].sum()
UniqueCarrier_delays
#UniqueCarrier_delays_sorted = UniqueCarrier_delays.sort_values(by ='Retard', ascending = False)
#UniqueCarrier_delays_sorted

UniqueCarrier
9E     58611.0
AA   -958961.0
AQ     -2220.0
AS    -39784.0
B6   -701875.0
CO   -677311.0
DL   -307515.0
EV    275186.0
F9   -246634.0
FL   -241782.0
HA    -41615.0
MQ    417597.0
NW   -188203.0
OH     31591.0
OO     20550.0
UA   -598030.0
US   -401654.0
WN   -853076.0
XE    -84774.0
YV    -52496.0
Name: Retard, dtype: float64

In [481]:
#Quins són els vols més llargs?  Busca les rutes més llargues i les que acumulen més retards.

Milles_Vol_més_llarg = df3['Distance'].max()


nº_Vol_més_llarg2  = df3['Distance'].idxmax()


print(str(Milles_Vol_més_llarg) + " Milles")
print("El vol més llarg és el nº : "+ str(nº_Vol_més_llarg2))



#Vol_més_llarg3 = df3.where[(df3.id) == 1068823]



#Vol_més_llarg = df3.iloc[['Distance'].idxmax(),('Origin')]

4962 Milles
El vol més llarg és el nº : 1068823

In [485]:
# Rutes més llargues 

Origin = df3.groupby('Origin') # Agrupo df por Origen


Rutes_més_llargues = Origin[('Distance')]
Rutes_més_llargues.mean()

Origin
ABE    580.008621
ABI    158.000000
ABQ    650.430286
ABY    146.000000
ACK    208.047619
          ...
WYS    273.000000
XNA    621.302671
YAK    204.764706
YKM    586.000000
YUM    230.816901
Name: Distance, Length: 296, dtype: float64

In [486]:
# Rutes amb més retard

Rutes_més_retard = Origin[('CRSElapsedTime')]
Rutes_més_retard.mean()

Origin
ABE    120.215517
ABI     55.939394
ABQ    111.275162
ABY     55.903226
ACK     83.047619
          ...
WYS     84.000000
XNA    116.925816
YAK     49.000000
YKM     93.600000
YUM     69.690141
Name: CRSElapsedTime, Length: 296, dtype: float64

In [475]:
#I els més endarrerits?

Origin = df3.groupby('Origin') 
Vol_més_endarrerit = Origin[('CRSElapsedTime')]
Vol_més_endarrerit

Exporta el dataset net i amb les noves columnes a Excel.

In [488]:
df3.to_excel("df3.xlsx")